// Fonts
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500i,600,700&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@media (max-width: 600px) {
    // mobile device
    .postRow{
        border:none !important;
        margin:0 !important;
    }
    .postContainer{
        padding:0 !important;
    }
    .footerpost {
        top: 110px;
    }
    .commentsContainer {
        height: 100% !important;
        max-height:unset !important;
        margin-top: 70px;
        margin-bottom: 20px !important;
    }
}

.containericonpos:hover {
    opacity: 1;
}
.containericonpos{
    transition: all .1s ease;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: rgba(0, 0, 0, 0.43);
    width: 100%;
    text-align: center;
    color: #fff;
    display: inline-block;
    left: 0;
    right: 0;
    opacity: 0;
}
.righticonpost, .lefticonpost {
    position: absolute;
    bottom: 53%;
    top: 47%;
    margin: auto;
    width: 100%;
}
.righticonpost span, .lefticonpost span {
    vertical-align: top;
}
.righticonpost {
    margin-left: 23px;
}
.lefticonpost {
    margin-left: -23px;
}
.footerpostComment input {
    width: 100%;
    border: none;
    padding: 5px;
    font-size: .9rem;
}
.rowComment {
    position: relative;
    margin-bottom: 15px;
}
.commentsContainer {
    height: 300px;
    overflow-y: auto;
    border-bottom: 1px solid #e5e5e5;
    max-height: 300px;
    margin-bottom: 100px;
}
.commentDate {
    display: block;
    font-size: .9rem;
    font-weight: 600;
    color: #ababab;
    position: absolute;
    right: 0;
    bottom: -15px;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
.footerpostComment {
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
}
.searchInput{
    border: solid 1px #dbdbdb;
    border-radius: 3px;
    color: #262626;
    outline: 0;
    padding: 3px 10px 3px 26px;
    z-index: 2;
    height: 28px;
    font-size: .9rem;
    background: #fafafa;
    display: table;
    margin: auto;
}
.footerpost{
    position: absolute;
    bottom: 50px;
    width: 100%;
}
.mainImg{
    height: 100%;
    object-fit: cover;
}
a {
    color: #003569;
    font-weight: 600;
    text-decoration: none !important;
}
.postRowHeader {
    padding: 10px !important;
}
.postRow {
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.09);
    border-radius: 3px;
    max-width: 600px;
    margin: 20px auto;
    overflow-x: hidden;
}

.postRow .col-12{
    padding:0;
}
.btn{
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    font-weight: 600;
    padding: 0 9px;
    text-align: center;
    text-transform: inherit;
    text-overflow: ellipsis;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: auto;
    height: 30px;
    line-height: 30px;
    margin: 4px 0;
}
.navbar-brand{
.navfirstimg {
    width: 20px;
    padding: 0 15px;
    border-right: 1px solid;
    box-sizing: content-box;
}
 span {
    margin: 0 10px;
}
}

.mainprofileImg{
    border:1px solid #d7d7d7;
    width:150px;
}

.container {
    max-width: 760px !important;
}
